<ul>
    <li>
        <a asp-controller="Task2" asp-action="Index">Задание 2</a>
    </li>

    <li>
        <a asp-controller="Task3" asp-action="Index">Задание 3</a>
    </li>

    <li>
        <a asp-controller="Task4" asp-action="Index">Задание 4</a>
    </li>

    <li>
        <a asp-controller="Task5" asp-action="Index">Задание 5</a>
    </li>

    <li>
        <a asp-controller="Task6" asp-action="Index">Задание 6</a>
    </li>
</ul>