@{
    double pi = Math.PI;
    double e = Math.E;
    double tau = Math.Tau;
}

<h2>Предопределенные константы</h2>

<p>
    PI = @pi
</p>
<p>
    E = @e
</p>
<p>
    Tau = @tau
</p>
