@{
    string s1 = "Коленда";
    int s1Length = s1.Length;
    string s2 = "Соломенковская";
    int s2Length = s2.Length;

    string s1ConcatS2 = s1 + " " + s2;
    string s2Lower = s2.ToLower();
}
<div>
    <p>Длина строки @s1 = @s1Length</p>
    <p>Сцепление строк = @s1ConcatS2</p>
    <p>Строка @s2 в нижнем регистре = @s2Lower</p>
</div>